model/src/main/resources/contract/CustomRule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:customrule="urn:rules.schema.fisheries.ec.europa.eu:v1" 
            targetNamespace="urn:rules.schema.fisheries.ec.europa.eu:v1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns="http://schemas.xmlsoap.org/wsdl/">

    <xsd:complexType name="CustomRuleType">
        <xsd:sequence>
            <xsd:element name="guid" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="type" type="customrule:RuleType"/>
            <xsd:element name="availability" type="customrule:AvailabilityType"/>
            <xsd:element name="active" type="xsd:boolean"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="timeIntervals" type="customrule:CustomRuleIntervalType" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="definitions" type="customrule:CustomRuleSegmentType" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="actions" type="customrule:CustomRuleActionType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="AvailabilityType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="PUBLIC"/>
            <xsd:enumeration value="PRIVATE"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="RuleType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="GLOBAL"/>
            <xsd:enumeration value="EVENT"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="CustomRuleSegmentType">
        <xsd:sequence>
            <xsd:element name="startOperator" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="criteria" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="subCriteria" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="condition" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="endOperator" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="logicBoolOperator" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="order" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CustomRuleIntervalType">
        <xsd:sequence>
            <xsd:element name="start" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="end" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="CustomRuleActionType">
        <xsd:sequence>
            <xsd:element name="action" type="customrule:ActionType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="value" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="order" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="ActionType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="SEND_TO_ENDPOINT"/>
            <xsd:enumeration value="MANUAL_POLL"/>
            <xsd:enumeration value="ON_HOLD"/>
            <xsd:enumeration value="OPEN_TICKET"/>
            <xsd:enumeration value="TOP_BAR_NOTIFICATION"/>
            <xsd:enumeration value="EMAIL"/>
            <xsd:enumeration value="SMS"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>
