model/src/main/resources/contract/PreviousReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:previous.rules.schema.fisheries.ec.europa.eu:v1"
        xmlns="http://schemas.xmlsoap.org/wsdl/">
    
    <xsd:complexType name="PreviousReportType">
        <xsd:sequence>
            <xsd:element name="movementGuid" type="xsd:string"/>
            <xsd:element name="assetGuid" type="xsd:string"/>
            <xsd:element name="positionTime" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>