model/src/main/resources/contract/RulesModuleService.wsdl

<definitions name="RulesModule"
             targetNamespace="urn:module.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:module="urn:module.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:customrule="urn:customrule.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:ticket="urn:ticket.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:alarm="urn:alarm.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:common="urn:common.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:search="urn:search.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:movement="urn:movement.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:exchange="urn:exchange.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:module.rules.schema.fisheries.ec.europa.eu:v1">

            <xsd:import namespace="urn:customrule.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="CustomRule.xsd"/>
            <xsd:import namespace="urn:common.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="RulesCommon.xsd"/>
            <xsd:import namespace="urn:search.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="RulesSearch.xsd"/>
            <xsd:import namespace="urn:ticket.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="Ticket.xsd"/>
            <xsd:import namespace="urn:alarm.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="Alarm.xsd"/>
            <xsd:import namespace="urn:movement.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="Movement.xsd"/>
            <xsd:import namespace="urn:exchange.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="Exchange.xsd"/>
            
            <!-- Rules Base Request -->
            <xsd:simpleType name="RulesModuleMethod">
                <xsd:restriction base="xsd:string">
                    <!-- Receive position report -->
                    <xsd:enumeration value="SET_MOVEMENT_REPORT"/>
                    <xsd:enumeration value="VALIDATE_MOVEMENT_REPORT"/>
                    <xsd:enumeration value="GET_CUSTOM_RULE"/>

                    <!-- Ping -->
                    <xsd:enumeration value="PING"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="RulesBaseRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="module:RulesModuleMethod"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="SetMovementReportRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="type" type="exchange:PluginType"/>
                                <xsd:element name="request" type="movement:RawMovementType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <xsd:element name="SetMovementReportResponse"/>

            <!-- Create custom rule request -->
            <xsd:element name="CreateCustomRuleRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="customRule" type="customrule:CustomRuleType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Create custom rule response -->
            <xsd:element name="CreateCustomRuleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customRule" type="customrule:CustomRuleType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- List custom rules request -->
            <xsd:element name="GetCustomRuleListRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- List custom rules response -->
            <xsd:element name="GetCustomRuleListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customRules" type="customrule:CustomRuleType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            
            <!-- Get custom rule by guid request -->
            <xsd:element name="GetCustomRuleRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="guid" type="xsd:string"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Get custom rule by guid response -->
            <xsd:element name="GetCustomRuleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customRule" type="customrule:CustomRuleType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            

            <!-- List tickets request -->
            <xsd:element name="GetTicketListRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="search:TicketQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- List tickets response -->
            <xsd:element name="GetTicketListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tickets" type="ticket:TicketType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Create alarm report request -->
            <xsd:element name="CreateAlarmReportRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="alarm" type="alarm:AlarmReportType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Create alarm report response -->
            <xsd:element name="CreateAlarmReportResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ack" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Create ticket request -->
            <xsd:element name="CreateTicketRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="ticket" type="ticket:TicketType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Create ticket response -->
            <xsd:element name="CreateTicketResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ack" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Alarms QueryList request -->
            <xsd:element name="GetAlarmListByQueryRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="search:AlarmQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Alarms QueryList response -->
            <xsd:element name="GetAlarmListByQueryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="alarms" type="alarm:AlarmReportType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Tickets QueryList request -->
            <xsd:element name="GetTicketListByQueryRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="search:TicketQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Ticket QueryList response -->
            <xsd:element name="GetTicketListByQueryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tickets" type="ticket:TicketType" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Ping request -->
            <xsd:element name="PingRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="module:RulesBaseRequest"/>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <!-- Ping response -->
            <xsd:element name="PingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>

    <message name="RulesException">
        <part name="body" element="common:RulesFault"/>
    </message>

    <message name="CreateCustomRuleRequest">
        <part name="body" element="module:CreateCustomRuleRequest"/>
    </message>
    <message name="CreateCustomRuleResponse">
        <part name="body" element="module:CreateCustomRuleResponse"/>
    </message>
    
    <message name="GetCustomRuleListRequest">
        <part name="body" element="module:GetCustomRuleListRequest"/>
    </message>
    <message name="GetCustomRuleListResponse">
        <part name="body" element="module:GetCustomRuleListResponse"/>
    </message>
	
	<message name="GetCustomRuleRequest">
        <part name="body" element="module:GetCustomRuleRequest"/>
    </message>
    <message name="GetCustomRuleResponse">
        <part name="body" element="module:GetCustomRuleResponse"/>
    </message>

    <message name="GetTicketListRequest">
        <part name="body" element="module:GetTicketListRequest"/>
    </message>
    <message name="GetTicketListResponse">
        <part name="body" element="module:GetTicketListResponse"/>
    </message>

    <message name="CreateAlarmReportRequest">
        <part name="body" element="module:CreateAlarmReportRequest"/>
    </message>
    <message name="CreateAlarmReportResponse">
        <part name="body" element="module:CreateAlarmReportResponse"/>
    </message>
    
    <message name="CreateTicketRequest">
        <part name="body" element="module:CreateTicketRequest"/>
    </message>
    <message name="CreateTicketResponse">
        <part name="body" element="module:CreateTicketResponse"/>
    </message>
    
    <message name="GetAlarmListByQueryRequest">
        <part name="body" element="module:GetAlarmListByQueryRequest"/>
    </message>
    <message name="GetAlarmListByQueryResponse">
        <part name="body" element="module:GetAlarmListByQueryResponse"/>
    </message>
    
    <message name="GetTicketListByQueryRequest">
        <part name="body" element="module:GetTicketListByQueryRequest"/>
    </message>
    <message name="GetTicketListByQueryResponse">
        <part name="body" element="module:GetTicketListByQueryResponse"/>
    </message>
    
    <message name="SetMovementReportRequest">
        <part name="body" element="module:SetMovementReportRequest"/>
    </message>
    <message name="SetMovementReportResponse">
        <part name="body" element="module:SetMovementReportResponse"/>
    </message>
    
    <message name="PingRequest">
        <part name="body" element="module:PingRequest"/>
    </message>
    <message name="PingResponse">
        <part name="body" element="module:PingResponse"/>
    </message>

    <portType name="RulesModulePortType">
    
        <operation name="CreateCustomRule">
            <input message="module:CreateCustomRuleRequest"/>
            <output message="module:CreateCustomRuleResponse"/>
            <fault name="RulesException" message="module:RulesException"/>
        </operation>

        <operation name="GetCustomRuleList">
            <input message="module:GetCustomRuleListRequest"/>
            <output message="module:GetCustomRuleListResponse"/>
            <fault name="RulesException" message="module:RulesException"/>
        </operation>
		
		<operation name="GetCustomRule">
            <input message="module:GetCustomRuleRequest"/>
            <output message="module:GetCustomRuleResponse"/>
            <fault name="RulesException" message="module:RulesException"/>
        </operation>

        <operation name="GetTicketList">
            <input message="module:GetTicketListRequest"/>
            <output message="module:GetTicketListResponse"/>
            <fault name="RulesException" message="module:RulesException"/>
        </operation>

        <operation name="CreateAlarmReport">
            <input message="module:CreateAlarmReportRequest"/>
            <output message="module:CreateAlarmReportResponse"/>
            <fault name="RulesException" message="module:RulesException"/>
        </operation>

        <operation name="CreateTicket">
            <input message="module:CreateTicketRequest"/>
            <output message="module:CreateTicketResponse"/>
            <fault name="RulesException" message="module:RulesException"/>
        </operation>

        <operation name="GetAlarmListByQuery">
            <input message="module:GetAlarmListByQueryRequest"/>
            <output message="module:GetAlarmListByQueryResponse"/>
            <fault name="RulesException" message="module:RulesException"/>
        </operation>

        <operation name="GetTicketListByQuery">
            <input message="module:GetTicketListByQueryRequest"/>
            <output message="module:GetTicketListByQueryResponse"/>
            <fault name="RulesException" message="module:RulesException"/>
        </operation>

        <operation name="SetMovementReport">
            <input message="module:SetMovementReportRequest"/>
            <output message="module:SetMovementReportResponse"/>
            <fault name="RulesException" message="module:RulesException"/>
        </operation>
        <operation name="Ping">
            <input message="module:PingRequest"/>
            <output message="module:PingResponse"/>
        </operation>

    </portType>

    <binding name="RulesModuleSoapBinding" type="module:RulesModulePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="CreateCustomRule">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>
		
		<operation name="GetCustomRule">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="GetCustomRuleList">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="GetTicketList">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="CreateAlarmReport">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="CreateTicket">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="GetAlarmListByQuery">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="GetTicketListByQuery">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="SetMovementReport">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="Ping">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>

    <service name="RulesModuleService">
        <port name="RulesModulePortType" binding="module:RulesModuleSoapBinding">
            <soap:address location="http://REPLACE_ME"/>
        </port>
    </service>

</definitions>
