model/src/main/resources/contract/RulesDataSourceService.wsdl

<definitions name="RulesDataSource"
             targetNamespace="urn:source.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:source="urn:source.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:customrule="urn:customrule.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:ticket="urn:ticket.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:alarm="urn:alarm.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:common="urn:common.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:search="urn:search.rules.schema.fisheries.ec.europa.eu:v1"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:source.rules.schema.fisheries.ec.europa.eu:v1">

            <xsd:import namespace="urn:customrule.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="CustomRule.xsd"/>
            <xsd:import namespace="urn:common.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="RulesCommon.xsd"/>
            <xsd:import namespace="urn:search.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="RulesSearch.xsd"/>
            <xsd:import namespace="urn:ticket.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="Ticket.xsd"/>
            <xsd:import namespace="urn:alarm.rules.schema.fisheries.ec.europa.eu:v1" schemaLocation="Alarm.xsd"/>

            <!-- Rules Base Request -->
            <xsd:simpleType name="RulesDataSourceMethod">
                <xsd:restriction base="xsd:string">
                    <!-- Actions triggered by user -->
                    <xsd:enumeration value="CREATE_CUSTOM_RULE"/>
                    <xsd:enumeration value="LIST_CUSTOM_RULES"/>
                    <xsd:enumeration value="LIST_TICKETS"/>
                    <xsd:enumeration value="LIST_ALARMS"/>
                    
                    <!-- Actions triggered by rule engine -->
                    <xsd:enumeration value="CREATE_ALARM_REPORT"/>
                    <xsd:enumeration value="CREATE_TICKET"/>

                    <!-- Ping -->
                    <xsd:enumeration value="PING"/>
                </xsd:restriction>
            </xsd:simpleType>

            <xsd:complexType name="RulesBaseRequest" abstract="true">
                <xsd:sequence>
                    <xsd:element name="method" type="source:RulesDataSourceMethod"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Create custom rule request -->
            <xsd:element name="CreateCustomRuleRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="customRule" type="customrule:CustomRuleType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Create custom rule response -->
            <xsd:element name="CreateCustomRuleResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customRule" type="customrule:CustomRuleType" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- List custom rules request -->
            <xsd:element name="GetCustomRuleListRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:RulesBaseRequest">
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- List custom rules response -->
            <xsd:element name="GetCustomRuleListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="customRules" type="customrule:CustomRuleType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- List tickets request -->
            <xsd:element name="GetTicketListRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="search:TicketQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- List tickets response -->
            <xsd:element name="GetTicketListResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tickets" type="ticket:TicketType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Create alarm report request -->
            <xsd:element name="CreateAlarmReportRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="alarm" type="alarm:AlarmReportType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Create alarm report response -->
            <xsd:element name="CreateAlarmReportResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ack" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Create ticket request -->
            <xsd:element name="CreateTicketRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="ticket" type="ticket:TicketType"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Create ticket response -->
            <xsd:element name="CreateTicketResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ack" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Alarms QueryList request -->
            <xsd:element name="GetAlarmListByQueryRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="search:AlarmQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Alarms QueryList response -->
            <xsd:element name="GetAlarmListByQueryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="alarms" type="alarm:AlarmReportType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Tickets QueryList request -->
            <xsd:element name="GetTicketListByQueryRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:RulesBaseRequest">
                            <xsd:sequence>
                                <xsd:element name="query" type="search:TicketQuery"/>
                            </xsd:sequence>
                        </xsd:extension>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
            
            <!-- Ticket QueryList response -->
            <xsd:element name="GetTicketListByQueryResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tickets" type="ticket:TicketType" minOccurs="0" maxOccurs="unbounded"/>
                        <xsd:element name="totalNumberOfPages" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="currentPage" type="xsd:int" minOccurs="1" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <!-- Ping request -->
            <xsd:element name="PingRequest">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="source:RulesBaseRequest"/>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>

            <!-- Ping response -->
            <xsd:element name="PingResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="response" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

        </xsd:schema>
    </types>

    <message name="RulesException">
        <part name="body" element="common:RulesFault"/>
    </message>

    <message name="CreateCustomRuleRequest">
        <part name="body" element="source:CreateCustomRuleRequest"/>
    </message>
    <message name="CreateCustomRuleResponse">
        <part name="body" element="source:CreateCustomRuleResponse"/>
    </message>
    
    <message name="GetCustomRuleListRequest">
        <part name="body" element="source:GetCustomRuleListRequest"/>
    </message>
    <message name="GetCustomRuleListResponse">
        <part name="body" element="source:GetCustomRuleListResponse"/>
    </message>

    <message name="GetTicketListRequest">
        <part name="body" element="source:GetTicketListRequest"/>
    </message>
    <message name="GetTicketListResponse">
        <part name="body" element="source:GetTicketListResponse"/>
    </message>

    <message name="CreateAlarmReportRequest">
        <part name="body" element="source:CreateAlarmReportRequest"/>
    </message>
    <message name="CreateAlarmReportResponse">
        <part name="body" element="source:CreateAlarmReportResponse"/>
    </message>
    
    <message name="CreateTicketRequest">
        <part name="body" element="source:CreateTicketRequest"/>
    </message>
    <message name="CreateTicketResponse">
        <part name="body" element="source:CreateTicketResponse"/>
    </message>
    
    <message name="GetAlarmListByQueryRequest">
        <part name="body" element="source:GetAlarmListByQueryRequest"/>
    </message>
    <message name="GetAlarmListByQueryResponse">
        <part name="body" element="source:GetAlarmListByQueryResponse"/>
    </message>
    
    <message name="GetTicketListByQueryRequest">
        <part name="body" element="source:GetTicketListByQueryRequest"/>
    </message>
    <message name="GetTicketListByQueryResponse">
        <part name="body" element="source:GetTicketListByQueryResponse"/>
    </message>
    
    <message name="PingRequest">
        <part name="body" element="source:PingRequest"/>
    </message>
    <message name="PingResponse">
        <part name="body" element="source:PingResponse"/>
    </message>

    <portType name="RulesModulePortType">
    
        <operation name="CreateCustomRule">
            <input message="source:CreateCustomRuleRequest"/>
            <output message="source:CreateCustomRuleResponse"/>
            <fault name="RulesException" message="source:RulesException"/>
        </operation>

        <operation name="GetCustomRuleList">
            <input message="source:GetCustomRuleListRequest"/>
            <output message="source:GetCustomRuleListResponse"/>
            <fault name="RulesException" message="source:RulesException"/>
        </operation>

        <operation name="GetTicketList">
            <input message="source:GetTicketListRequest"/>
            <output message="source:GetTicketListResponse"/>
            <fault name="RulesException" message="source:RulesException"/>
        </operation>

        <operation name="CreateAlarmReport">
            <input message="source:CreateAlarmReportRequest"/>
            <output message="source:CreateAlarmReportResponse"/>
            <fault name="RulesException" message="source:RulesException"/>
        </operation>

        <operation name="CreateTicket">
            <input message="source:CreateTicketRequest"/>
            <output message="source:CreateTicketResponse"/>
            <fault name="RulesException" message="source:RulesException"/>
        </operation>

        <operation name="GetAlarmListByQuery">
            <input message="source:GetAlarmListByQueryRequest"/>
            <output message="source:GetAlarmListByQueryResponse"/>
            <fault name="RulesException" message="source:RulesException"/>
        </operation>

        <operation name="GetTicketListByQuery">
            <input message="source:GetTicketListByQueryRequest"/>
            <output message="source:GetTicketListByQueryResponse"/>
            <fault name="RulesException" message="source:RulesException"/>
        </operation>

        <operation name="Ping">
            <input message="source:PingRequest"/>
            <output message="source:PingResponse"/>
        </operation>

    </portType>

    <binding name="RulesModuleSoapBinding" type="source:RulesModulePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <operation name="CreateCustomRule">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="GetCustomRuleList">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="GetTicketList">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="CreateAlarmReport">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="CreateTicket">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="GetAlarmListByQuery">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="GetTicketListByQuery">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="RulesException">
                <soap:fault name="RulesException" use="literal"/>
            </fault>
        </operation>

        <operation name="Ping">
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>

    </binding>

    <service name="RulesModuleService">
        <port name="RulesModulePortType" binding="source:RulesModuleSoapBinding">
            <soap:address location="http://REPLACE_ME"/>
        </port>
    </service>

</definitions>
