model/src/main/resources/contract/Ticket.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:ticket="urn:ticket.rules.schema.fisheries.ec.europa.eu:v1" 
            targetNamespace="urn:ticket.rules.schema.fisheries.ec.europa.eu:v1"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
            xmlns="http://schemas.xmlsoap.org/wsdl/">

    <xsd:complexType name="TicketType">
        <xsd:sequence>
            <xsd:element name="guid" type="xsd:string"/>
            <xsd:element name="open" type="xsd:boolean"/>
            <xsd:element name="openDate" type="xsd:string"/>
            <xsd:element name="affectedObject" type="xsd:string"/>
            <xsd:element name="ruleName" type="xsd:string"/>
            <xsd:element name="longitude" type="xsd:decimal"/>
            <xsd:element name="latitude" type="xsd:decimal"/>
            <xsd:element name="resolveDate" type="xsd:string"/>
            <xsd:element name="resolvedBy" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
